@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: black;
    min-height: 100vh;
    color: rgb(48, 3, 3);
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    border-bottom: 1px solid white;
}

a {
    color: rgb(238, 231, 231);
    text-decoration: underline;
}

input,
select {
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    max-width: 100%;
    margin: 10px 0;
    color: black;
    padding: 10px;
    width: 100%;
}

input {
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
}

.no-outline:focus {
    outline: none;
}

buttonIndex {
    border: 0;
    color: black;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
}


/* header */

ul.nav {
    padding-left: 0px;
    background-color: black;
    text-align: end;
    padding-right: 1em;
}

ul.nav>li {
    display: inline-block;
    padding: 10px 20px;
}

ul.nav>li:hover {
    background-color: silver;
}

ul.nav>li>a {
    color: white;
    text-decoration: none;
}

.topNav {
    align-content: flex-end;
}


/* index */

.success-message {
    position: absolute;
    width: fit-content;
    height: 10vh;
    color: green;
    background-color: white;
    border: 1px solid green;
    text-align: center;
    margin-top: 20px;
}

.error-message {
    position: absolute;
    width: fit-content;
    height: 10vh;
    color: red;
    background-color: pink;
    border: 1px solid red;
    text-align: center;
    margin-top: 20px;
}

.data-line {
    margin-top: 10px;
    text-align: center;
}

.half-width {
    width: 50%;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: center;
}

.login {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/lab.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#poliwag {
    position: absolute;
    width: auto;
    height: 10vh;
}

#pichu {
    position: absolute;
    width: auto;
    height: 10vh;
}

#wooper {
    position: absolute;
    width: auto;
    height: 20vh;
    bottom: 7vh;
    right: 1vh;
    transform: rotate(-9deg);
}

#eevee {
    position: absolute;
    width: auto;
    height: 10vh;
    left: 10vh;
}

.titleloggin {
    font-size: larger;
}

.box {
    position: absolute;
    align-self: center;
    top: 20vh;
    width: 25vw;
    height: 25vh;
    color: black;
    align-items: center;
    justify-content: center;
}



.champ {
    width: 80%;
    margin-left: 1.8em;
    padding: auto;
}

.buttonIndex {
    min-width: 227px;
    min-height: 74px;
    max-width: 227px;
    max-height: 74px;
    background-image: url('../img/buttonConnect.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 227px;
    margin-left: 1em;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    
}

.center {
    display: flex;
    justify-content: center
}

.deck {
    width: 100vh;
    height: 100vh;
}

.pokeball__button {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    box-shadow: 0 0 0 7px black;
    background: #fff;
    z-index: 10;
    animation: blink .5s alternate infinite;
    }
    
    .pokeball:hover .pokeball__button{
    animation-play-state: running;
    }
    
    @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
    }
/* lobby */

.lbutton {
    color: black;
    width: auto;
    height: auto;
    
}
.lobbybutton {
    display: flex;
}
.lobby {
    width: 100%;
    height: 100%;
    background-image: url('../img/LImage.png');
    background-repeat: no-repeat;
    background-size: fill;
    min-height: 100vh;
    max-height: 100vh;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.lobbychat {
    margin: auto;
    width: 50%;
    padding: 10px
}

.welcomLobby {
    top: 0;
    width: 100vw;
    height: 15vh;
    position: absolute;
    text-align: center;
    left: 40%;
    margin: 0;
    font: 120% / 1.5 Raleway, sans-serif;
    color: hsl(230, 100%, 95%);
    display: flex;
}
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
 
  
  h2 {
    animation: lights 5s 750ms linear infinite;
    text-align: center;
  }
/* lobby animations */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}




/* game */

.timer {
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 40vh;
    right: 0.5vh;
    color: white;
    background-color: blue;
    text-align: center;
}

.game {
    background-image: url("../img/images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.btntogglechat {
    position: absolute;
    top: 40px;
    right: 0.5vh;
}

.gamechat {
    display: none;
    position: absolute;
    top: 85px;
    right: -1vh;
}

.surrender {
    width: 16vh;
    position: absolute;
    top: 50vh;
    right: 0.5vh;
}

.endturn {
    width: 16vh;
    position: absolute;
    top: 55vh;
    right: 0.5vh;
}

.backLobby {
    width: 16vh;
    position: absolute;
    top: 60vh;
    right: 0.5vh;
}

#enemydeck {
    position: absolute;
    top: 0vh;
    width: 35vw;
    height: 11vh;
    display: flex;
    justify-content: space-around;
}

.flipedCard {
    background-image: url("../img/cardflipped.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 67.5px;
    height: 95.75px;
}

.hoverCard {
    background-color: aquamarine;
    opacity: 40%;
    max-width: 182.25px;
    max-height: 258.525px;
    min-width: 182.25px;
    min-height: 258.525px;
    padding-top: 10px;
    padding-left: 10px;
}

#enemycardBox {
    position: relative;
    top: 26vh;
    transform: translate(0, -50%);
    width: 80vw;
    height: 20vh;
    left: 10vw;
    align-content: center;
    display: flex;
    justify-content: space-around;
}

#enemycardBox>* {
    background-image: url("../img/Dittocart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 182.25px;
    max-height: 258.525px;
    min-width: 182.25px;
    min-height: 258.525px;
    padding-top: 10px;
    padding-left: 10px;
}

#mycardBox {
    position: absolute;
    width: 80vw;
    height: 20vh;
    left: 10vw;
    bottom: 35vh;
    display: flex;
    justify-content: space-around;
}

#mycardBox>* {
    background-image: url("../img/Dittocart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 182.25px;
    max-height: 258.525px;
    min-width: 182.25px;
    min-height: 258.525px;
    padding-top: 10px;
    padding-left: 10px;
}

#mydeck {
    position: absolute;
    width: 80vw;
    height: 20vh;
    left: 10vw;
    bottom: 11vh;
    display: flex;
    justify-content: space-around;
    left: 10vw;
}

#mydeck>* {
    background-image: url("../img/Dittocart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 182.25px;
    max-height: 258.525px;
    min-width: 182.25px;
    min-height: 258.525px;
    padding-top: 10px;
    padding-left: 10px;
}

#mystats {
    position: absolute;
    width: 20vw;
    height: 10vh;
    bottom: 0;
    left: 0;
    background-color: #3ce7de;
}

#enemystats {
    background-color: #e74c3c;
    position: absolute;
    width: 20vw;
    height: 10vh;
    left: 60vw;
    top: 0vh;
}

#heroPower {
    width: 16vh;
    position: absolute;
    bottom: 10vh;
    right: 0.5vh;
    background-color: #e73cd9;
}
.actionButtons{
    text-align:center;
    background-color:#ffcc8e;
}
.button{
  position:relative;
  display:inline-block;
  margin:20px;
}

.button a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* pokeball blink */

.child-to-body {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
}

.poke_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pokeball {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: shake 1.25s cubic-bezier(.36, .07, .19, .97) infinite;
    animation-play-state: paused;
}

.pokeball:active {
    animation-play-state: running;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-10px, 0) rotate(-20deg);
    }

    30% {
        transform: translate(10px, 0) rotate(20deg);
    }

    50% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    60% {
        transform: translate(10px, 0) rotate(10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.pokeball::before,
.pokeball::after {
    content: "";
    position: absolute;
}

.pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    top: calc(50% - 5px);
    width: 100%;
    height: 10px;
    background: #000;
}

.pokeball__button {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
}

.pokeball:active .pokeball__button {
    animation-play-state: running;
}

@keyframes blink {
    from {
        background: #eee;
    }

    to {
        background: #e74c3c;
    }
}