@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    color: rgb(48, 3, 3);
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    border-bottom: 1px solid white;
}

a {
    color: rgb(238, 231, 231);
    text-decoration: underline;
}

input,
select {
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    max-width: 100%;
    margin: 10px 0;
    color: black;
    padding: 10px;
    width: 100%;
    
}
input {
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
  
}
input[type="text"], textarea {
  background-color :rgb(0, 0, 0); 

}

.no-outline:focus {
  outline: none;
}


button {
    border: 0;
    color: black;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}
/* header */
ul.nav {
  padding-left: 0px;
  background-color: black;
  text-align:end;
  padding-right:1em;
}
ul.nav > li {
  display: inline-block;
  
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: silver;
}
ul.nav > li > a {
  color: white;
  text-decoration: none;
}
.topNav{
  align-content: flex-end;
}

/* index */
.success-message {
    color: green;
    background-color: white;
    border: 1px solid green;
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: red;
    background-color: pink;
    border: 1px solid red;
    text-align: center;
    margin-top: 20px;
}

.data-line {
    margin-top: 10px;
    text-align: center;
}

.half-width {
    width: 50%;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: center;
}


.login {
    width: 100%;
    background-image: url('../img/elven-land-game-battle-backgrounds/PNG/game_background_4/game_background_4.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
  min-width: 382px;
  max-width: 600px;
  min-height: 612px;
  width: 100%;
  padding: 10px;
  background-image: url('../img/mythoPage.jpg');
  background-repeat: no-repeat;
  background-position: left;
  padding-top: 15em;
  color: black;
  align-items: center;
  justify-content: center;
 
  
}

.champ{
  width: 80%;
  margin-left: 1.8em;
  padding: auto;
  
}
.button{
  min-width: 227px;
  min-height: 74px;
  max-width: 227px;
  max-height: 74px;
  background-image: url('../img/buttonConnect.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 227px;
  margin-left: 1em;
  background-color:transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
.center{
  display: flex; 
  justify-content: center
}

.deck {
    width: 100vh;
    height: 100vh;
}
