@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    color: rgb(48, 3, 3);
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1,
h2,
h3 {
    text-align: center;
    border-bottom: 1px solid white;
}

a {
    color: rgb(34, 2, 2);
    text-decoration: underline;
}

input,
select {
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    max-width: 100%;
    margin: 10px 0;
    color: black;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

input {
    width: calc(100% - 25px);
}

button {
    background-color: white;
    border: 0;
    color: black;
    padding: 10px;
    font-size: 20px;
    width: 100%;
}

.topNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #000000;
  }
  
  .ham {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .menuX {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .sideNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background: black;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    color: white;
    /* hide the menu above the screen by default */
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }
  
  .showNav {
    transform: translateX(0);
  }
  
  .sideNav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5rem;
  }
  
  .sideNav ul li a {
    display: block;
    color: white;
    padding-bottom: 10px;
    margin-top: 1rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
  }
  
  .sideNav ul li a:hover, .sideNav ul li a:focus {
    border-bottom: 2px solid white;
  }
  
  .overlay {
    position: fixed;
    display: none;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
  }
  
  .showOverlay {
    display: block;
  }
  

.success-message {
    color: green;
    background-color: white;
    border: 1px solid green;
    text-align: center;
    margin-top: 20px;
}

.error-message {
    color: red;
    background-color: pink;
    border: 1px solid red;
    text-align: center;
    margin-top: 20px;
}

.data-line {
    margin-top: 10px;
    text-align: center;
}

.half-width {
    width: 50%;
    margin: 0 auto;
}

.main-container {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}

.box {
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    background-color: aliceblue;
    background-size: cover;
}

.login {
    width: 100%;
    height: 100%;
    background-image: url('../img/login.png');
    background-size: 100%;
    background-position: 0;
    background-repeat: repeat;
    min-height: 100vh;
    color: rgb(39, 2, 2);
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.deck {
    width: 100vh;
    height: 100vh;
}